In [38]:
# Import libraries

import pandas as pd
import os

In [39]:
# Load raw data from scraping

tweets_clean = pd.read_csv('../data/tweets_clean.csv')
tweets_clean.head()

,name,user,date,category,id,content,lang,sourceLabel,inReplyToTweetId,inReplyToUser,mentionedUsers,hashtags,replyCount,retweetCount,likeCount,quoteCount
0,Elon Musk,"{'_type': 'snscrape.modules.twitter.User', 'us...",2022-11-30 17:22:12+00:00,Tech CEO,1.598004e+18,@EvaFoxU @Reuters Exactly. The obvious reality...,en,Twitter for iPhone,1.597924e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,2565.0,9638.0,41337.0,1205.0
1,Elon Musk,"{'_type': 'snscrape.modules.twitter.User', 'us...",2022-11-30 15:54:33+00:00,Tech CEO,1.597982e+18,Update from @Neuralink at 6pm PT,en,Twitter for iPhone,NaN,NaN,"[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,6211.0,6405.0,71890.0,842.0
2,Elon Musk,"{'_type': 'snscrape.modules.twitter.User', 'us...",2022-11-30 09:39:14+00:00,Tech CEO,1.597888e+18,@NorthmanTrader @vincent13031925 Exactly,en,Twitter for iPhone,1.597881e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,569.0,257.0,5336.0,25.0
3,Elon Musk,"{'_type': 'snscrape.modules.twitter.User', 'us...",2022-11-30 09:03:04+00:00,Tech CEO,1.597879e+18,@vincent13031925 Trend is concerning. Fed need...,en,Twitter for iPhone,1.597706e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,7455.0,10295.0,93386.0,1163.0
4,Elon Musk,"{'_type': 'snscrape.modules.twitter.User', 'us...",2022-11-30 08:40:11+00:00,Tech CEO,1.597873e+18,"@teslaownersSV Much more, but I am simply stat...",en,Twitter for iPhone,1.597871e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,646.0,690.0,9893.0,40.0

In [41]:
tweets_clean['name'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15448 entries, 0 to 15447
Series name: name
Non-Null Count  Dtype
--------------  -----
15438 non-null  object
dtypes: object(1)
memory usage: 120.8+ KB

In [ ]:
tweets_clean['name'].info()

In [37]:
# Agg

tweets_agg = tweets_clean.groupby('name').agg({'id': 'count', 
                                  'replyCount': ['sum', 'mean'],
                                  'retweetCount': ['sum', 'mean'],
                                  'likeCount': ['sum', 'mean'],
                                  'quoteCount': ['sum', 'mean']
                                 })

tweets_agg.columns = tweets_agg.columns.droplevel()

tweets_agg.rename(columns={tweets_agg.columns[0]: "Total Tweets"})

,Total Tweets,sum,mean,sum,mean,sum,mean,sum,mean
name,,,,,,,,,
Alexandria Ocaso-Cortez,527,1527046.0,2897.620493,2990337.0,5674.263757,24761839.0,46986.411765,252164.0,478.489564
Barack Obama,349,786617.0,2253.916905,1766368.0,5061.226361,13250221.0,37966.249284,176785.0,506.547278
Bill Gates,358,675.0,1.885475,146212.0,408.413408,1006426.0,2811.245810,71867.0,200.745810
Ellen Degeneres,865,83092.0,96.060116,120852.0,139.713295,1216970.0,1406.901734,13033.0,15.067052
Elon Musk,4103,22498508.0,5483.428711,27799931.0,6775.513283,337666459.0,82297.455277,5061792.0,1233.680721
Jeff Bezos,88,175798.0,1997.704545,143480.0,1630.454545,1448561.0,16460.920455,46983.0,533.897727
Joe Biden,2394,11482523.0,4796.375522,12290471.0,5133.864244,75748792.0,31641.099415,1860175.0,777.015455
Justin Bieber,3,22232.0,7410.666667,30032.0,10010.666667,217506.0,72502.000000,7305.0,2435.000000
Katy Perry,236,123385.0,522.817797,282224.0,1195.864407,2588968.0,10970.203390,67194.0,284.720339
Kim Kardashian,807,384470.0,476.418835,819032.0,1014.909542,16816582.0,20838.391574,234577.0,290.677819
Lady Gaga,214,168187.0,785.920561,577975.0,2700.817757,4637585.0,21670.957944,123614.0,577.635514
Narendra Modi,3272,2363291.0,722.277200,14266696.0,4360.237164,71084424.0,21725.068460,363470.0,111.084963
Rihanna,64,173690.0,2713.906250,1613044.0,25203.812500,13226496.0,206664.000000,380759.0,5949.359375
Ron DeSantis,712,1438707.0,2020.655899,1386089.0,1946.754213,9561949.0,13429.703652,166596.0,233.983146
Satya Nadella,65,6171.0,94.938462,19718.0,303.353846,189543.0,2916.046154,2243.0,34.507692
Sundar Pichai,148,40215.0,271.722973,101485.0,685.709459,996952.0,6736.162162,7754.0,52.391892
Tim Cook,155,57589.0,371.541935,148098.0,955.470968,1435227.0,9259.529032,16132.0,104.077419
Volodymyr Zelenskyy,1078,1137733.0,1055.410946,4206847.0,3902.455473,31550483.0,29267.609462,282471.0,262.032468

In [62]:
tweets_clean.dtypes

name                 object
user                 object
category             object
id                  float64
content              object
replyCount          float64
lang                 object
sourceLabel          object
inReplyToTweetId    float64
inReplyToUser        object
mentionedUsers       object
hashtags             object
retweetCount        float64
likeCount           float64
quoteCount          float64
dtype: object